

/* Detta har flyttat till nav.css.
header, .breadcrumb{
    background-color: #003D2C;
    color: #FFFFFF;
}

.breadcrumb-item, .breadcrumb-item a{
    color: #FFFFFF;
}

.breadcrumb-item::before {
    color: white !important; /* Gör "/" vit --/
}

nav {
    background-color: #005A41;
}

.navbar-nav .nav-link{
    color: #FFFFFF !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.navbar-nav .nav-link:hover{
    color: rgb(0, 195, 255) !important;
}
*/

footer{
    background-color: #573A00;
    padding: 30px;
}

article{
    background-color: #FFFFFF;
}

#jokeBox{
    background-color: #003D2C;
    border: 5px solid #005A41;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90%;
    /*height: auto;*/
    min-height: 150px;
    padding: 20px;
}

.buy-button{
    background-color: #005A41;
    border-color: #005A41;
    margin-bottom: 10px;
}

.buy-button:hover{
    background-color: #003D2C;
    border-color: #003D2C;
}




ul li a{
    color: darkblue;
    font-weight: bold;
}

ul li a:hover{
    color: #003D2C;
    font-weight: bold;
}