
/* Detta har flyttat till nav.css.
.breadcrumb{
    background-color: #003D2C;
    color: #FFFFFF !important;
}

.breadcrumb-item, .breadcrumb-item a{
    color: #FFFFFF;
}

.breadcrumb-item::before {
    color: white !important; /* Gör "/" vit --/
}

nav {
    background-color: #005A41;
    color: #FFFFFF !important;
}


.navbar-nav .nav-link{
    color: #FFFFFF !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.navbar-nav .nav-link:hover{
    color: rgb(0, 195, 255) !important;
}
*/






/* Detta fungerade inte så bra.
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.breadcrumb{
    position: fixed;
    top: 147px;
    left: 0;
    width: 100%;
    z-index: 999;
}
*/

footer{
    background-color: #573A00;
    padding: 30px;
}

article{
    background-color: #FFFFFF;
}

.wider-offcanvas{
    width: 600px !important;
}

.buy-button{
    background-color: #005A41;
    margin-bottom: 10px;
}

.buy-button:hover{
    background-color: #003D2C;
}

.price{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    align-self: center;
}

.price-cell{
    vertical-align: middle;
}